<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
    <style>
body {
    font-family: montserrat;
    background-color: #f0e4d7; /* Color de fondo madera claro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #8b5e3c, #6a4f2e); /* Gradiente marrón madera */
}

.error-container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    width: 70%;
    max-width: 600px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    transform: translateY(0);
    border: 2px solid #5c4033; /* Borde marrón oscuro */
}

.error-container:hover {
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.error-container h1 {
    color: #e74c3c; /* Color rojo para el texto de error */
    margin-bottom: 25px;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.error-container p {
    font-size: 1.3em;
    margin-bottom: 30px;
    color: #333333;
}

.error-container a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 15px 30px;
    border: 2px solid #8b5e3c; /* Borde marrón */
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    background-color: #8b5e3c; /* Fondo marrón */
}

.error-container a:hover {
    background-color: #6a4f2e; /* Color marrón más oscuro al hacer hover */
    border-color: #6a4f2e;
    color: #ffffff;
}
    </style>
</head>
<body>
    <div class="error-container">
        <h1>ERROR</h1>
        <p><%= error %></p>
        <a href="/">volver al inicio</a>
    </div>
</body>
</html>